body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
}

img{
  max-width: 100%;
}

header{
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: #545151;
  background-color: white;
  overflow:hidden;
}


input{
  width:100%;
}

i{
  padding: 10px;
}


.icon a{
  text-decoration: none;
  color: #5b5959;
}

.logo-desk{
  width: 120px;
}

.logo-mob{
  width: 50px;

}

.search-bar{
  background-color: #E5E5E5;
  border-radius: 5px;
  width: 100%;
  border: none;
}

.search-bar input{
  background-color: #E5E5E5;
}

.form-control:focus{
  background-color: #E5E5E5;
  border: none;
  box-shadow: none;
}


.icon{
  padding: 8px 10px;
}

.fa-bell{
  color: #ef9339;
}



/* left bar */

.left-bar{
  width: 90px;
  height: 95%;

  background-image: url(../img/sidebar-bg.png);
  background-color: #142335;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  overflow: hidden;
}


.left-bar a{
  color: white;
}

.sa-w{
  width: 40%;
}

aside a{
  text-decoration: none;
}

.sa-hover:hover {
  background-color: rgba(173, 173, 173, 0.368);
}


td img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

td p{
  padding-top: 9px;
}

td .la{
  width:50%
}

td .lb{
  width:20%
}

td .lc{
  width:5%
}

td .ld{
  width:10%
}

td .le{
  width:15%
}
/* left bar  */

/* dashboard  */

#dashboard{
  margin-top: 70px;
  margin-left: 90px;
  height: calc(100vh - 70px);
  overflow: auto;
}

.hide{
  display: none;
}

.sa-container{
  background-color: #3a70df;
}


.sa-canvas{
  width: 100% !important;
}


.sa-bc-btn{
  background-color: #155ab9;
}

.sa-bc-btn:hover{
  background-color: #0e428b;
}

.blaze{
  display: inline-block;
  margin: 0;
}


.box{
  background-color: white;
  border: 1px solid #E8E8E8 ;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  
}

.box-title{
  background-color: #f7f7f7;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  padding: 10px 16px 0;
}

.box-content{
  padding: 10px 15px 0;
}



.avatar-icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}


.divide-box{
  border-bottom: 1px solid #dcdfe3;
}



/* RESPONSIVE FIX */


@media screen and (min-width: 768px){
  .sa-canvas{
    width: 50% !important;
  }

}

@media screen and (min-width: 992px){

  .left-bar{
    width: 150px;
  }

  #dashboard{
    margin-left: 150px;
  }

}
